body {
    font-family: monospace;
    font-size: 25px;
}
.centered {
    position: relative;
    max-width: 1400px;
    height: auto;
    margin: auto;
    padding: 10px;
    text-align: center;
}
.faded{
    transition: visibility 0s 2s, opacity 5s ease;
    opacity:0;
    visibility: hidden;
}
.info{
    box-shadow: 3px 5px 10px 1px gray;
}
.enabled{
    background-color: rgba(0, 210, 0, .6);
}
.disabled{
    background-color: rgba(210, 0, 0, .6);
}
label{
    transition: 1s ease;
}
#loaded{
    position: fixed;
    z-index: 100;
    font-size:20px;
    color: white;
    transition: 1s ease;
}
#version{
    float: right;
    position: relative;
    font-size: 15px;
}
